@{
    ViewBag.Title = "About";
}

<section class="featured form-group">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>About</h1>
        </hgroup>

    </div>
</section>

<br />

<article style="text-align:center">

    <a class="no-underline-anchor" title="By Jacek Bednarek (author permited me to publish this photo on the lincence below) (http://www.bednarek.internet.v.pl/page/14a.html) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3AOuthouse_in_the_mountains.jpg">
    <img width="512" alt="Outhouse in the mountains" src="~/Images/Outhouse_in_the_mountains.jpg" />
    </a>

</article>
